header {
    background-color: #21222C;
    height: 64px;

    box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    max-width: 1250px;
    margin: 0 auto;
}